.title {
	border: 1px solid black;
	background-color: lightblue;
	float: left;
	padding: 20px 30px;
	text-align: center;
	width: 150px;
	font-size: 30px;
	margin: 20px;
}
.content {
	bottom: 4px;
	left: 60px;
	position: absolute;
	height: 500px;
}
#bear {
	background-color: limegreen;
	display: inline-block;
	height: 300px;
	margin-top: 200px;
	width: 250px;
}
.decision-text {
	display: inline-block;
	padding-left: 150px;
	vertical-align: top;
}
#question {
	background-color: #FFF;
	border: 1px solid black;
	padding: 10px;
	width: 400px;
}
button {
	font-size: 15px;
}
#hotel-list .city-photo img{
	width: 360px;
	height: 200px;
}
#hotel-list .city-view img, .city-travletype img{
	width: 20px;
	height: 20px;
	padding: 2px;
}
#hotel-list .city-name,#hotel-list .city-view, #hotel-list .city-travletype{
	float:left;
	padding-right: 10px;
}